<div class="container" id="logo" >
    <button id="renderBtn">
        See Popular Results
    </button>
        <canvas id="myChart"></canvas>
        <div class="row">
            <div class="col-md-6">
                <div class="pre-scrollable">
                    {{#if word1}}
                        {{#each word1}}
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <img src="{{this.profile_img}}" alt="{{this.name}}" class="img-thumbnail">
                                <p class="card-text">{{this.text}}</p>
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="pre-scrollable">
                {{#if word2}}
                    {{#each word2}}
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <img src="{{this.profile_img}}" alt="{{this.name}}" class="img-thumbnail">
                            <p class="card-text">{{this.text}}</p>
                        </div>
                    {{/each}}
                {{/if}}
                </div>
            </div>
        </div>
</div>

<style>
    body{
      height: 200%;
      background-image: url('https://s1.dmcdn.net/v/ORqlQ1SR6jGIa1Cze/x1080');
      background-position: center;
      background-repeat: no-repeat; 
      background-size: cover;
      background-attachment: fixed;
    }
    #logo{
        background: white;
        padding: 2%;
    }

    #logo p{
        font-size: 20px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{{{t}}}



